<div class="container">
  <div class="results">
    <div class="pharma-info">
      <p class="name"><%= @medicine.name %></p>
      <p class="manufacturer"><%= @medicine.manufacturer %></p>
    </div>
    <div class="d-flex results-pic">
      <%= image_tag(@medicine.photo) %>
    </div>
    <div class="authorized">
      <i class="fa-solid fa-circle-check"></i>
      <p>Imported by Authorized Distributor</p>
    </div>

    <div class="batch-info">
      <div class="batch-left">
        <i class="fa-solid fa-pills"></i>
      </div>
      <div class="batch-right">
        <p>Batch</p>
        <%= @serial_num.batch %>
      </div>
    </div>

    <div class="mfg-date">
      <div class="mfg-left">
        <i class="fa-solid fa-industry"></i>
      </div>
      <div class="mfg-right">
        <p>Manufacture Date</p>
        <%= @serial_num.mfg_date %>
      </div>
    </div>

    <div class="exp-date">
      <div class="exp-left">
        <i class="fa-regular fa-calendar-xmark"></i>
      </div>
      <div class="exp-right">
        <p>Expiry Date</p>
        <%= @serial_num.exp_date %>
      </div>
    </div>
  </div>

  <%= link_to "/reminders/new", class: "med-reminder" do %>
    <div class="med-reminder-left">
      <i class="fa-solid fa-tablets"></i>
    </div>
    <div class="med-reminder-right">
      ADD AS REMINDER
    </div>
  <% end %>

</div>
