<div class="formated-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

      <%= f.input :first_name,
                  required: false,
                  autofocus: true,
                  wrapper_html: { class: 'p'}%>
      <%= f.input :last_name,
                  required: false,
                  autofocus: true,
                  wrapper_html: { class: 'p'}%>
      <%= f.input :username,
                  required: false,
                  autofocus: true,
                  wrapper_html: { class: 'p'}%>
      <%= f.input :contact,
                  required: false,
                  autofocus: true,
                  wrapper_html: { class: 'p'}%>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  wrapper_html: { class: 'p'}%>
      <%= f.input :password,
                  required: false,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  wrapper_html: { class: 'p'}%>
      <%= f.input :password_confirmation,
                  required: false,
                  wrapper_html: { class: 'p'}%>

      <%= f.button :submit, "Sign up" %>
      <br>
      <div class="link">
        <p>Already have an account?</p><%= render "devise/shared/links" %>
      </div>

  <% end %>
</div>
