<div class="formated-form">
  <%= simple_form_for(@reminder) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.association :medicine, wrapper_html: { class: 'p'} %>
      <%= f.input :interval, wrapper_html: { class: 'p'}  %>
      <%= f.input :start_date, wrapper_html: { class: 'p'}  %>
      <%= f.input :end_date, wrapper_html: { class: 'p'}  %>
      <%= f.input :start_time, wrapper_html: { class: 'p'}  %>
      <%= f.input :end_time, wrapper_html: { class: 'p'}  %>
      <%= f.input :dosage, wrapper_html: { class: 'p'}  %>
      <%= f.input :description, wrapper_html: { class: 'p'}  %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
  <br/>
  <br/>
  <br/>
</div>
