
<%= simple_form_for(@reminder) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.association :medicine %>
    <%= f.input :interval %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :dosage %>
    <%= f.input :med_name %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
