<div id="<%= dom_id reminder %>" class="text-center">
    <%= image_tag "Medicine/image-7.png" %>
    <p class="reminder-heading"> Medicine name</p> 
    <p><%= reminder.medicine.name %></p>
    <p class="reminder-heading"> Dose</p>
    <p><%= reminder.dosage %></p>
    <p class="reminder-heading"> Description </p>
    <p><%= reminder.description %></p>
    <p class="reminder-heading"> Date</p>
    <p><%= reminder.start_date %> to <%= reminder.end_date %></p>
    <p class="reminder-heading"> Time </p>
        <div class="container">
            <div class="row">
                <div class="col-3 border border-secondary rounded-pill" style="background-color:#6f42c1;">
                    <p><%= reminder.time_1.strftime("%I:%M %p") %></p></div>
                <div class="col-3 border border-secondary rounded-pill" style="background-color:#6f42c1;">
                    <p><%= reminder.time_2.strftime("%I:%M %p") %></p></div>
                <div class="col-3 border border-secondary rounded-pill" style="background-color:#6f42c1;">
                    <p><%= reminder.time_3.strftime("%I:%M %p") %></p></div>
                <div class="col-3 border border-secondary rounded-pill" style="background-color:#6f42c1;">
                    <p><%= reminder.time_4.strftime("%I:%M %p") %></p></div>
            </div>
        </div>
</div>