<%= provide :title, "Reminders" %>
<div id="<%= dom_id reminder %>" class="text-center">
    <br>
    <br>
    <div>
        <%= link_to "Edit", edit_reminder_path(@reminder), data: { method: :get, turbo: false } %> |
        <%= link_to "Delete", @reminder, data: { "turbo-method": :delete }, style: "color: red;" %>
    </div>
    <br>
    <br>
    <%= image_tag "Medicine/image-7.png" %>
    <p class="reminder-heading"> Medicine name</p> 
    <p><%= reminder.medicine.name %></p>
    <p class="reminder-heading"> Dose</p>
    <p><%= reminder.dosage %></p>
    <p class="reminder-heading"> Description </p>
    <p><%= reminder.description %></p>
    <p class="reminder-heading"> Date</p>
    <p><%= reminder.start_date %> to <%= reminder.end_date %></p>
    <p class="reminder-heading"> Time </p>
    <button type="button" class="btn btn-primary mt-1">
        <%= reminder.time_1.strftime("%I:%M %p") %>
    </button>
    <% if reminder.time_2.present? %>
        <button type="button" class="btn btn-primary mt-1">
            <%= reminder.time_2.strftime("%I:%M %p") %>
        </button>
    <% end %>
    <% if reminder.time_3.present? %>
        <button type="button" class="btn btn-primary mt-1">
            <%= reminder.time_3.strftime("%I:%M %p") %>
        </button>
    <% end %>
    <% if reminder.time_4.present? %>
        <button type="button" class="btn btn-primary mt-1">
            <%= reminder.time_4.strftime("%I:%M %p") %>
        </button>
    <% end %>
    </div>
</div>
