<div id="<%= dom_id reminder %>" class="text-center">
    <%= image_tag "Medicine/image-7.png" %>
    <p class="reminder-heading"> Medicine name</p> 
    <p><%= reminder.medicine.name %></p>
    <p class="reminder-heading"> Dose</p>
    <p><%= reminder.dosage %></p>
    <p class="reminder-heading"> Description </p>
    <p><%= reminder.description %></p>
    <p class="reminder-heading"> Date</p>
    <p><%= reminder.start_date.strftime("%d %B") %> <%= reminder.start_time.strftime("%I:%M%p") %> to <%= reminder.end_date.strftime("%d %B") %> <%= reminder.end_time.strftime("%I:%M%p") %></p>
    <p class="reminder-heading"> Time </p>
    <% reminder.time_intervals.each do |interval| %>
        <button type="button" class="btn btn-primary mt-2"><%=interval.strftime("%I:%M %p") %></button>
    <% end %>
</div>
