<div id="<%= dom_id reminder %>" class="text-center">
    <%= image_tag "Medicine/image-7.png" %>
    <p class="reminder-heading"> Medicine name</p> 
    <p><%= reminder.medicine.name %></p>
    <p class="reminder-heading"> Dose</p>
    <p><%= reminder.dosage %></p>
    <p class="reminder-heading"> Description </p>
    <p><%= reminder.description %></p>
    <p class="reminder-heading"> Date</p>
    <p><%= reminder.start_date %> to <%= reminder.end_date %></p>
    <p class="reminder-heading"> Time </p>
    <button type="button" class="btn btn-primary mt-1">
        <%= reminder.time_1.strftime("%I:%M %p") %>
    </button>
    <button type="button" class="btn btn-primary mt-1">
        <%= reminder.time_2.strftime("%I:%M %p") %>
    </button>
    <button type="button" class="btn btn-primary mt-1">
        <%= reminder.time_3.strftime("%I:%M %p") %>
    </button>
    <button type="button" class="btn btn-primary mt-1">
        <%= reminder.time_4.strftime("%I:%M %p") %>
    </button>
</div>
