<div id="<%= dom_id reminder %>">
    <p> Medicine name: <%= reminder.medicine.name %> </p>
    <p> Interval: <%= reminder.interval %></p>
    <p> Start date:  <%= reminder.start_date %></p>
    <p> End date:  <%= reminder.end_date %></p>
    <p> Start time:  <%= reminder.start_time.strftime("%H:%M") %></p>
    <p> End time:  <%= reminder.end_time.strftime("%H:%M") %></p>
    <p> Dosage:  <%= reminder.dosage %></p>
    <p> Decription:  <%= reminder.description %></p>
</div>
