<div class="btmnav">
  <ul class="btmnav-list">
    <li><%= image_tag "home.png", style:"width: 30px; height: 30px" %></li>
    <li><%= image_tag "list_alt.png" %></li>
    <li><%= image_tag "qr_code_scanner.png" %></li>
    <li><%= image_tag "warning_amber.png" %></li>
    <li><%= image_tag "more_horiz.png" %></li>
  </ul>
</div>
