<div class="btmnav">
  <ul class="btmnav-list">
    <li><%= image_tag "home.png", style:"width: 30px; height: 30px" %></li>
    <li><%= image_tag "list_alt.png", style:"width: 30px; height: 30px" %></li>
    <li class="nav-main"><%= image_tag "Vector.png", style:"width: 40px; height: 40px" %></li>
    <li><%= image_tag "warning_amber.png", style:"width: 30px; height: 30px" %></li>
    <li><%= image_tag "more_horiz.png", style:"width: 30px; height: 30px" %></li>
  </ul>
</div>
