<%= link_to report_path(report) do %>
<div class="ka alerts">
  <div class="ka-left">
    <% if report.shop_name.length < 13 %>
      <h5><%= report.shop_name %></h5>
    <% else %>
      <% report.shop_name[13..-1] = "..." %>
      <h5><%= report.shop_name %></h5>
    <% end %>
    <% if report.online %>
      <% if report.shop_url.length < 22  %>
        <p><%= report.shop_url %></p>
      <% else %>
        <% report.shop_url[22..-1] = "..." %>
        <p><%= report.shop_url %></p>
      <% end %>
    <% else %>
      <% if report.shop_location.length < 22  %>
        <p><%= report.shop_location %></p>
      <% else %>
        <% report.shop_location[22..-1] = "..." %>
        <p><%= report.shop_location %></p>
      <% end %>
    <% end %>
  </div>

  <div class="ka-right">
    <!-- <img src="https://gphb01pdazurefileshare.blob.core.windows.net/sys-master-hybris-media/h90/h03/16431885418526/601435-leftose-tablets-30-tablets-1-800Wx800H"
    alt="..." style="height: 80px; border-radius: 0 12px 12px 0;"> -->
    <% if report.photos.present? %>
      <%= cl_image_tag report.photos.first.key, :transformation => {:width => 80, :height => 80, :crop => "lfill"} %>
    <% else %>
      <%= image_tag report.medicine.photo, width: "80", heigh: "80" %>
    <% end %>
  </div>
</div>
<% end %>
