<div class="banner">
  <div class="container">
    <h1>Worry less.</h1>
    <h1>Live healthier.</h1>
    <p>Welcome to MedSafe</p>
    <div data-controller="scanning">
      <div id="scandit-barcode-picker" data-scandit-id="<%= ENV["SCANDIT"] %>" class="scanner"></div>
      <div class="searchbar bar-container">
        <div class="search">
          <button id="start-scanner-button">
            <i class="fa-solid fa-qrcode fa-xl"></i>
          </button>

          <%= form_for :medicine, url: medicine_path do |f| %>
            <%= f.text_field :data,
                            placeholder: "Type your barcode"
                            %>
            <%= f.submit "Search" %>
          <% end %>
        </div>
        <div id="scandit-barcode-result" class="result-text"></div>
      </div>
    </div>
  </div>
</div>
<% if !current_user.nil? %>
  <div class="list-container">
    <div class="list-title">
      <p><strong>Reminder</strong></p>
      <%= link_to new_reminder_path do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>

    <% if Reminder.sort_by_latest.exists? %>
    <%# <%= render partial: "shared/card-list-reminder", locals: {reminder: Reminder.sort_by_latest.sort{|s| s.next_due_timestamp}.reverse.first} %>
    <% end %>
  </div>
<% end %>

<div class="list-container">
  <div class="list-title">
    <p><strong>Latest Alerts</strong></p>
    <%= link_to reports_path do %>
      <p>See all</p>
    <% end %>
  </div>
  <% if !@reports.nil? %>
    <div class="list-cards">
      <% @reports.each do |report| %>
        <%= render "shared/card-list", report: report %>
      <% end %>
    </div>
  <% end %>
</div>
