<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/1000x1000);">
  <div class="container">
    <h1>Worry less.</h1>
    <h1>Live healthier.</h1>
    <p>Welcome to Medsafe</p>
    <%= render "shared/btn-primary" %>
  </div>
</div>

<div class="list-container">
  <div class="list-title">
    <p><strong>Reminders</strong></p>
    <%= link_to new_reminder_path do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
  <%= render "shared/card-list-reminder" %>
</div>

<div class="list-container">
  <div class="list-title">
    <p><strong>Alerts</strong></p>
    <%= link_to reports_path do %>
      <p>See all</p>
    <% end %>
  </div>
  <%= render "shared/card-list" %>
</div>
<%= render "shared/btmbar" %>
