<div class="banner">
  <div class="container">
    <h1>Worry less.</h1>
    <h1>Live healthier.</h1>
    <p>Welcome to MedSafe</p>
      <div class="searchbar bar-container bar-scan">
        <div class="search">
        <button>
          <%= link_to ('<i class="fa-solid fa-qrcode fa-xl"></i>').html_safe, scanning_path %>
        </button>

          <%= form_for :medicine, url: medicine_path do |f| %>
            <%= f.text_field :data,
                            placeholder: "Type your barcode"
                            %>
            <%= f.submit "Search" %>
          <% end %>
        </div>
      </div>
  </div>
</div>
<% if !current_user.nil? %>
  <div class="list-container">
    <div class="list-title">
      <p><strong>Reminder</strong></p>
      <%= link_to new_reminder_path, data: {turbo: :false} do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>

    <% if Reminder.active_reminders_for(current_user.id).present? %>
      <%= render partial: "shared/card-list-reminder", locals: {reminder: Reminder.active_reminders_for(current_user.id).first} %>
    <% else %>
      <p class="no-reminder-msg"><small>No reminder</small></p>
    <% end %>
  </div>
<% end %>

<div class="list-container">
  <div class="list-title">
    <p><strong>Latest Reports</strong></p>
    <%= link_to reports_path do %>
      <p>See all</p>
    <% end %>
  </div>
  <% if !@reports.nil? %>
    <div class="list-cards">
      <% @reports.each do |report| %>
        <%= render "shared/card-list", report: report %>
      <% end %>
    </div>
  <% end %>
</div>
