<div class="formated-form">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <h2>Welcome back!</h2>

      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  wrapper_html: { class: 'p'}%>
      <%= f.input :password,
                  required: false,
                  wrapper_html: { class: 'p'}%>
      <%= f.input :remember_me,
                  wrapper_html: { class: 'checkbox'},
                  label_html: { class: 'check-label' }, as: :boolean if devise_mapping.rememberable? %>



      <%= f.button :submit, "Log in" %>
      <br>
      <div class="shared-links">
        <%= render "devise/shared/links" %>
      </div>
  <% end %>
</div>
