<%= simple_form_for (report) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <h4>Product Information Form</h4>
    <div class="form-inputs" data-controller="online">
      <%= f.input :online,
                  as: :boolean,
                  wrapper_html: { class: 'online'},
                  # label_html: { class: 'check-label' },
                  input_html: { class: 'toggle',
                                data: { online_target: "boolean",
                                action: "click->online#update"}}
                  %>
      <%= f.input :shop_name,
                  required: false %>
      <%= f.input :shop_url,
                  required: false,
                  as: :url,
                  wrapper_html: { class: 'd-none', data: {online_target: "url"} }
                  %>
      <%= f.input :shop_location, label: 'Street name / City name',
                  required: false,
                  wrapper_html: { data: {online_target: "loc"} }
                  %>
      <%= f.input :country, as: :string,
                  required: false,
                  wrapper_html: { data: {online_target: "country"} } %>
      <%= f.input :effects,
                  required: false %>
      <%= f.input :comments,
                  required: false %>
      <%= f.association :medicine, collection: Medicine.order('name ASC'),
                  required: false %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>

      <% if @report.photos.present? %>
        <% @report.photos.each do |photo| %>
          <%= cl_image_tag photo.key, width: 100, height: 100, crop: :fill %>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Submit' %>
    </div>
  <% end %>
