<%= provide :title, "Alerts" %>


<div class="list-container">
  <div class="searchbar bar-container">

    <%# <form>
      <input type="search" placeholder="Search...">
      <button type="submit">Search</button>
    </form> %>

    <form class="nosubmit">
      <input class="nosubmit" type="search" placeholder="Search...">
    </form>
  </div>

  <%= form_with url: reports_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a report"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <% if !@reports.nil? %>
    <div class="list-cards">
      <% @reports.each do |report| %>
        <% @report = report %>
        <%= render "shared/card-list", object: @report %>
      <% end %>
    </div>
  <% end %>
</div>
